
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "system-ui", "Helvetica Neue", Verdana, Geneva, Tahoma, sans-serif;
}

*:not(input) {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
body {
	padding: 53px 0 0 0;
	margin: 0;
	background: #111111;
	color: #ffffff;
}

header {
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
	display: grid;
    padding: 5px;
    grid-gap: 10px;
    background: blueviolet;
	grid-template-columns: 150px 1fr auto;
	align-items: center;
	z-index: 10;
}
@media screen and (min-width: 601px) {
	header > *:first-child {
		margin-left: 30px;
	}
}
@media screen and (max-width: 600px) {
	header {
		grid-template-columns: auto;
		text-align: center;
		font-size: 30px;
	}
}
header label {
	line-height: 1em;
	font-size: 14px;
	font-weight: bold;
    vertical-align: middle;
    padding: 4px 8px;
    border-radius: 1.25em;
	text-transform: uppercase;
	user-select: all !important;
}
header strong {
	font-size: 30px;
	display: block;
	line-height: 1em;
}
header small {
	display: block;
	font-size: small;
    letter-spacing: 0.5em;
	line-height: 1em;
}
button {
	padding: .5em; 
	font-size: 18px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: blueviolet;
	color: white;
}
button.selected {
	background-color: white;
	color: black;
	font-weight: bold;
}

section.timeline {
	width: 100%;
	display: grid;
	grid-gap: 2px;
	overflow-x: auto;
}

div.tracks {
	width: auto;
	display: grid;
	grid: auto / auto;
	grid-gap: 2px;
}
div.track {
	position: relative;;
	width: auto;
	background: #222222;
}
div.track > span {
	display: block;
	position: absolute;
	height: 100%;
	box-sizing: border-box;
}

section.nodes:not(:empty) {
	display: block;
    background: #222222;
	padding: 10px;
	margin: 2px 0;
}
article.node {
	display: inline-block;
    padding: 10px;
    background: #222222;
    border: 2px solid white;
    font-weight: bold;
    margin: 5px;
    font-size: 14px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    /* border-radius: 50%; */

}
article.node.active {
	border-color: blueviolet;
}

.loading {
	color: white;
	text-align: center;
	display: block;
	padding: 10px;
}
