
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "system-ui", "Helvetica Neue", Verdana, Geneva, Tahoma, sans-serif;
}
*:not(input) {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
header {
	-webkit-app-region: drag;
}
button, input, select {
	-webkit-app-region: no-drag;
}
html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
	display: grid;
	grid-template: 60px auto 60px / 100%;
	grid-gap: 1px;
	background: #000000;
	color: #ffffff;
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
}

header {
	display: grid;
    padding: 5px 20px;
    grid-gap: 10px;
    background: #555555;
	grid-template-columns: 120px 1fr auto;
	align-items: center;
}
footer {
    background: #555555;
}
nav {
	white-space: nowrap;
}
@media screen and (min-width: 601px) {
	
}
@media screen and (max-width: 600px) {
	
}
button {
	padding: .5em 1em; 
	font-size: 14px;
	font-weight: normal;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	background-color: #444444;
	color: white;
}
button.selected {
	background-color: white;
	color: black;
	font-weight: bold;
}



#logo {
	/* margin: 0 15px; */
}
#logo strong {
	font-size: 30px;
	display: block;
	line-height: 1em;
}
#logo small {
	display: block;
	font-size: small;
    letter-spacing: 0.5em;
	line-height: 1em;
}
#timeline {
	width: 100%;
	display: grid;
	grid-gap: 1px;
	overflow-x: hidden;
	height: 100%;
}
#timeline .handle {
    position: fixed;
    background: rgb(255 0 0);
    left: 0;
    top: 0;
    width: 3px;
    transform: translate(-50%, 0px);
    z-index: 10;
    /* border: 1px solid #ff6363; */
    box-shadow: 1px 0px 0 black;
}

#timeline .tracks {
	display: grid;
	grid: auto / auto;
	grid-gap: 1px;
}
#timeline .track {
	position: relative;
}
#timeline .track > span {
	display: block;
	position: absolute;
	height: 100%;
}
#waveform {
	width: 100%;
	overflow: hidden ;
	height: 60px;
}


section.nodes:not(:empty) {
	display: block;
	padding: 10px;
	margin: 2px 0;
	text-align: center;
}
article.node {
	display: inline-block;
    padding: 0px;
    background: #111111;
	border: 2px solid #555555;
	color: #ddd;
    font-weight: bold;
    margin: 5px;
    font-size: 11px;
    width: 60px;
    text-align: center;
	border-radius: 6px;
	cursor: pointer;
	text-align: center;
}
article.node.hidden {
	opacity: 0.3;
	pointer-events: none !important;
}
article.node > small {
	user-select: text !important;
	font-size: 8px;
	opacity: 0.3;
}
article.node > div {
	user-select: text !important;
}
article.node.active,
article.node.selected {
	border-color: white;
	color: white;
}
article.node progress {
	width: 54px;
}

.loading {
	color: white;
	text-align: center;
	display: block;
	padding: 10px;
}
