grid {
	display: grid;
	grid-gap: 5px;

}
grid.two {
	grid: auto / 1fr 1fr;
}
grid.three {
	grid-template-columns: 1fr 1fr 1fr;
}
grid.four {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
grid.five {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
grid.eight {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


grid.item {
	grid-template-columns: 1fr 8fr 1fr;
	grid-gap: 10px;
	margin: 0;
}
grid.item > *:not(grid) {
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
grid.item > span {
	font-weight: normal;
	font-size: 90%;
}
